
.container {
	width: 100%;
}

.headerContainer {
	height: 2rem;
	display: flex;
	align-items: center;
	>span {
		text-decoration: underline;
		margin-left: 1rem;
		font-family: Inter;
		color: #A5B1FE;
	}
}

.inputContainer {
	width: 100%;
	background-color: rgba($color: #6F82FF, $alpha: 0.21);
	box-sizing: border-box;
	border: 0px;
	outline: none;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding: 0.5rem 0px 0px 1rem;

	> .cssLine {
		width: 100%;
		display: flex;
		transition: all 0ms;

		>span {
			margin-left: 0.2rem;
		}
	}

	.css_attr, .css_value {
		outline: none;
		padding: 1px;
		box-sizing: border-box;
	}
	
	.css_attr:focus, .css_value:focus {
		border: 1px solid #636363;
		caret-shape: block;
	}
	
	@keyframes glow {
		from {
			border: 1px solid #636363;
		}
		50% {
			border: 1px solid #bebebe;
		}
		to {
			border: 1px solid #636363;
		}
	}
	// >.cssLine {
	// 	border: 1px solid #fff;
	// }

	> .update {
		width: 100%;
		display: flex;
		justify-content: space-between;
		
		>div {
			border: 1px dotted #fff;
			height: 1rem;
			width: 1rem;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		> button {
			height: 30px;
			margin-bottom : 4px;
			margin-right: 4px;
			border : 0px solid;
			color: #fff;
			background-color: #6F82FF;
		}
	}

	// > button {
	// 	align-self: flex-end;
	// }
}

.cssLines {
	margin-bottom: 1rem;
	overflow: auto;
	width: 100%;
	min-height: 4rem;
	max-height: 10rem;
	padding-top: 0.5rem;
}

.css_attr {
	color: #6F82FF;
}

.css_colon {
	margin : 0px 2px
}