.container {
	position: absolute;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	z-index: 3;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	pointer-events: none;
	border: 3px solid rgba($color: #000000, $alpha: 0.1);
	animation: box_animate 2s infinite;
	transition: all 300ms;
	
	> div {
		height: 5px;
		width: 5px;
		background-color: #fff;
		justify-content: space-between;
		position: absolute;
		animation: corner_animate 2s infinite;
		border: 1px solid gray;
	}
}


@keyframes box_animate {
  from {border: 3px solid rgba($color: #000000, $alpha: 0.1)}
  50% {border: 3px solid rgba($color: #000000, $alpha: 0)}
  to {border: 3px solid rgba($color: #000000, $alpha: 0.1)}
}

// @keyframes corner_animate {
// 	from {border: 1px solid #878787}
// 	50% {border: 1px solid #cdcdcd}
// 	to {border: 1px solid #878787}	
// }