.content {
	font-size: 0.6rem;
	padding: 2px;
}

.content:hover {
	text-decoration: underline;
}

svg.active_dropdown{
	transform: rotate(0deg);
}
svg.inactive_dropdown{
	transform: rotate(-90deg);
}
svg.active_dropdown, svg.inactive_dropdown {
	z-index: 7;
	padding: 0px;
	margin : 0px;
	color: #fff;
}