.select {
	background-color: rgba($color: #7e7e7e, $alpha: 0.2);
	display: flex;
	flex-direction: row;	
	height: 1.5rem;
	width: fit-content;
	min-width: 6rem;
	max-width: 10rem;
	outline: none;
	padding-left: 0.5rem;
	color: #fff;
	border: none;

	> .value {
		width: 100%;
		height: 100%;
		color: #fff;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding:0  0.5rem;
		font-size: 0.7rem;
	}

	> .button {
		background-color: rgba($color: #010101, $alpha: 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}

.box {
	display: flex;
	flex-direction: column;
}