
.container {
	width: 100%;
}

.headerContainer {
	height: 2rem;
	display: flex;
	align-items: center;
	>span {
		text-decoration: underline;
		margin-left: 1rem;
		font-family: Inter;
		color: #A5B1FE;
	}
}

.inputContainer {
	width: 100%;
	max-height: 10rem;
	background-color: rgba($color: #6F82FF, $alpha: 0.21);
	box-sizing: border-box;
	border: 0px;
	outline: none;
	display: flex;
	flex-direction: column;

	> p {
		width: 100%;
		height: 100%;
		padding-left: 1rem;
		box-sizing: border-box;
		outline: none;
		overflow: auto;
	}

	> div {
		width: 100%;
		text-align: right;
		
		> button {
			height: 30px;
			margin-bottom : 4px;
			margin-right: 4px;
			border : 0px solid;
			color: #fff;
			background-color: #6F82FF;
		}
	}

	// > button {
	// 	align-self: flex-end;
	// }
}