.direction_settings {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1rem;
	margin-top: 0.3rem;

	>span {
		color: #fff;
		font-size: 0.8rem;
		margin-right: 0.5rem;
	}
}

.color_item {
	display: flex;
	align-items: flex-end;
	padding-left: 0.5rem;
	
	>svg {
		height: 1rem;
		width: 1rem;
		background-color: rgba($color: #fff, $alpha: 0.5);
		border-radius: 0.25rem;
		margin-bottom: 0.2rem;
	}

}
