.direction_settings {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0.5rem;
	margin-top: 0.3rem;

	>span {
		color: #fff;
		font-size: 0.8rem;
		margin-right: 0.5rem;
	}
}