.container {
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #282a36;	
	box-sizing: border-box;
	font-family: inter;
	outline: none;
	overflow: scroll;
	font-size: 1rem;
	border-radius: 0.25rem 0.25rem 0px 0px;
	position: relative;
}

.button {
	border: none;
	border-radius: 0px 0px;
	background-color: #fff;
	>button {
		position: absolute;
		bottom: 0.6rem;
		right: 0.2rem;
		border: 0px;
		padding: 6px;
		border-radius: 2px;
		margin-bottom: 2px;
		margin-right: 2px;
		font-size: 0.75rem;
		transition: all 300ms;
	}
	
}
