.container {
	height: 1.1rem;
	background-color: rgba($color: #fff, $alpha: 0.1);
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
}

.container:hover {
	background-color: rgba($color: #fff, $alpha: 0.3);
}

.container.active_element {
	background-color: rgba($color: #fff, $alpha: 0.5);
}


.type {
	font-size : 8px;
	font-weight: bold;
}

.content {
	font-size: 11px;
	font-weight: normal;
	text-overflow: ellipsis;
	max-width: 6rem;
	overflow: hidden;
	word-wrap: none;
}

svg {
	height: 0.7rem;
	width: 0.7rem;
}

svg.active_dropdown{
	transform: rotate(0deg);
}
svg.inactive_dropdown{
	transform: rotate(-90deg);
}
svg.active_dropdown, svg.inactive_dropdown {
	z-index: 7;
}

.children {
	width: 100%;
	padding: 0px;
	margin : 0px;
}

// .active > div{
// 	height: 1rem;
// }

// .inactive > div{	
// 	height: 0px;
// }