.flex {

}

.heading {
	display: flex;
	align-items: flex-end;
	cursor: pointer;
	width: fit-content;

	> svg {
		margin-left : 0.3rem;
	}
}

.style_input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.3rem;

	> span {
		color: #fff;
		font-size: 0.7rem;
		padding-left: 1rem;
		margin-right: 0.5rem;
	}
}

.flex_toolbox {
	display: flex;
	flex-wrap: wrap;
}