@use '../../animations.scss';

.container {
	height: 80%;
	max-width: 400px;
	position: absolute;
	top: 3vw;
	right: 3vw;
	color : white;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	padding-top: 1rem;
	cursor: pointer;
}

.button {
	background-color: #323232;
	color: #fff;
	height: 3rem;
	width: 3rem;
	box-sizing: border-box;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #A5B1FE;
	box-shadow: 4px 4px 4px rgba($color: #002A96, $alpha: 0.5);

	>div {
		// animation: om 200ms;
		// transform: rotate(0deg);
	}
	>div.active {
		animation: mo 200ms;
		transform: rotate(45deg);
	}
	
	>div.inactive {
		animation: om 200ms;
	}

}

.button.active {
	
}

.elementList {
	max-width: 100%;
	display: flex;
	background-color: #323232;
	margin-top: 0.5rem;
	padding: 0.5rem;
	box-sizing: border-box;
	position: relative;
	box-shadow: 4px 4px 4px rgba($color: #002A96, $alpha: 0.5);

	>div {
		text-shadow: 2px 2px 4px rgba($color: #000, $alpha: 0.9);
	}
}

.elementOptions {
	// max-width: 100%;
	width: 180%;
	max-width: 100vw;
	display: flex;
	background-color: #323232;
	margin-top: 0.5rem;
	box-sizing: border-box;
	position: relative;
	box-shadow: 4px 4px 4px rgba($color: #002A96, $alpha: 0.5);
	left: 100vh;
}

.elementList.active {
	animation: showList 700ms;
	left: 0px;
}
.elementList.inactive {
	animation: hideList 700ms;
	left: 100vh;
}

.elementOptions.active {
	animation: showList 1000ms;
	left: 0px;
}
.elementOptions.inactive {
	animation: hideList 1000ms;
	left: 100vh;
}

.elementList > div {
	flex-wrap: wrap;
	width: 210px;
	display: flex;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	justify-content: flex-start;
	
	> div {
		width: 70px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 300ms;

	}
	>div:hover {
		background-color: rgba($color: #A5B1FE, $alpha: 0.5);
		color: #000000;
	}
}

