/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
	font-family: Inter, sans-serif;
	box-sizing: border-box;
}

.app {
	height: 100vh;
	width: 100vw;
}

#selection-box {
	position: absolute;
	border-style: solid;
	border-width: 2px;
	border: 2px dotted blue;
	box-sizing: content-box;
	animation-name: focus;
	animation-duration: 1100ms;
	animation-iteration-count: infinite;
	opacity: 0.5;
	pointer-events: none;
}

@keyframes focus {
	from {
		border-color: blue;
	}
	50% {
		border-color: white;
	} 
	to {
		border-color: blue;
	}
}

.add_style {
	border-radius: 0.25rem;
	margin-left: 0.4rem;
	margin-top: 0.3rem;
}

.add_style:hover {
	background-color: rgba($color: #000000, $alpha: 0.3);	
}


.react-colorful {
	overflow: hidden;
	>div {
		border-radius: 0!important;
	}
}

.sub_header {
	color: #fff;
	font-weight: bold;
	padding-left: 0.5rem;
	margin-top: 0.5rem;
	font-size: 0.6rem;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	text-transform: uppercase;

	>.dropdown {
		height: 1rem;
		cursor: pointer;
	}

}

.basic_dropdown {
	border-radius: 0.25rem;
	overflow: hidden;
	margin-left: 0.5rem;
	max-width: 6rem;
	position: absolute;
	left: 2.2rem;
	background-color: #7f7f7f;;
	
	
	> div {
		overflow: scroll;
		position: relative;
		
		> div {
			height: 1rem;
			display: flex;
			align-items: flex-end;
			padding-left: 0.5rem;
			padding-bottom: 0.1rem;
			box-sizing: border-box;
			min-width: 7rem;
			color: #fff;
			font-size: 0.7rem;
			cursor: pointer;
		}
	
		> div:nth-child(odd) {
			background-color: rgba($color: #000000, $alpha: 0.3);
		}
		> div:nth-child(even) {
			background-color: rgba($color: #000000, $alpha: 0.6);
		}
	}

}

.dropdown_main_text {
	font-weight: 700;
	font-size: 0.5rem;
}

.dropdown_small_text {
	font-size: 0.5rem;
	margin-left: 0.3rem;
}

.dropdown_main_text , .dropdown_small_text {
	margin-bottom: 0.1rem;
}

.flip {
	transform: rotateX(180deg);
}