*{
  width: fit-content;
  font-family: Inter;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
